@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

/* =============================================== */
/* Global Style CSS */
/* =============================================== */
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

input[type="checkbox"] {
  accent-color: #c5a059;
}

.loading-container {
  @apply flex items-center justify-center h-screen bg-gray-50;
}

.loading-content {
  @apply flex flex-col items-center gap-4;
}

.spinner-actios {
  @apply w-12 h-12 border-4 border-amber-300 border-t-amber-600 rounded-full animate-spin;
}

.blok-text {
  @apply text-amber-950 font-medium animate-pulse;
}

.app-container {
  @apply flex w-full min-h-screen bg-gray-100 font-sans relative;
}

.alert-section {
  @apply fixed top-6 right-6 z-50 flex flex-col max-w-sm w-full bg-white rounded-lg shadow-lg border-l-4 overflow-hidden animate-slide-fade;
  z-index: 9999;
}

.alert-button {
  @apply ml-3 text-gray-400 hover:text-gray-900 focus:outline-none;
}

.animate-slide-fade {
  animation: slideFadeIn 0.4s ease-out forwards;
}

.animate-shrink {
  animation: shrinkLine 3s linear forwards;
}

.animate-fade-in {
  animation: fadeIn 0.2s ease-out forwards;
}

@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes shrinkLine {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.app-loading {
  @apply flex items-center justify-center h-screen bg-gray-50;
}
.app-spinner-loading {
  @apply w-12 h-12 border-4 border-gray-200 border-t-[#3A2000] rounded-full animate-spin;
}

.app-text-loading {
  @apply text-gray-600 font-medium animate-pulse;
}

.app-content {
  @apply flex w-full min-h-screen bg-gray-100 font-sans relative;
}

.alert-container {
  @apply fixed top-6 right-6 z-50 flex flex-col max-w-sm w-full bg-white rounded-lg shadow-lg border-l-4 overflow-hidden animate-slide-fade;
  z-index: 100;
}

.main-container {
  @apply ml-72 bg-white min-h-screen flex flex-col font-sans;
}

.main-title {
  @apply flex flex-col items-center mb-10 text-center;
}

.main-title-h2 {
  @apply text-3xl font-bold text-[#3A2000] uppercase inline-block border-b-2 border-[#3A2000] w-4/5 pb-1;
}

.main-banner {
  @apply w-full h-[350px] bg-gray-300 overflow-hidden relative;
}

.loading-spinner-content {
  @apply flex justify-center items-center gap-2;
}

.loading-spinner {
  @apply animate-spin rounded-full h-4 w-4 border-b-2 border-gray-900;
}

.spinner-button {
  @apply animate-spin h-4 w-4 border-2 border-b-0 border-white rounded-full inline-block;
}

.loading {
  @apply animate-spin h-5 w-5 border-2 border-white border-t-transparent rounded-full;
}

.loading-button {
  @apply w-4 h-4 border-2 border-white border-t-transparent rounded-full animate-spin;
}
